.home {
    display: grid;


    .separator {
        height: 1px;
        width: 70%;
        background-color: var(--clr-muted);
    }
    .home-content {
        display: grid;
    gap: 2em;

    padding: 2em 6vw;

    }
}

@media screen and (min-width: 700px) {
    .home {
        .home-content {
        padding: 2em 3em;

        }
    }
}