.features {
    display: grid;
    gap: .5em;
    
    font-size: 1rem;
    font-family: 'Rajdhani';

    border-radius: 1em;

    .feature {
        border: 1px solid var(--clr-muted);
        border-radius: .5em;

        display: flex;
        align-items: center;
        gap: .5em;

        padding: 1em;

        .feature-icon {
            height: 3em;
            width: 3em;
            color: var(--clr-accent);
            svg {width: inherit; height: inherit;}
        }
        

        .feature-text {
            .feature-caption {
                max-width: 35ch;
            }
        }
    }
}


@media screen and (min-width: 700px) {
    .features {
        grid-template-columns: 1fr 1fr 1fr;

        .feature {
            border: none;
            flex-direction: column;
            border-radius: unset;
            padding: 1  em;
            &:not(:last-child) {
                border-right: 1px solid var(--clr-muted);
            }

            .feature-text {
                text-align: center; 
                max-width: unset;
            }
        }
    }
}